body{
    margin: 0;
    background-color: rgb(150, 177, 111);
}

#root {
    font-size: 0;
    padding: 0;
    /* margin: 0; */
}

.gridWrapper {
    border: 1px solid black;
    padding: 1px 0 0 1px;
    display: block;
    text-align: center;
    z-index: 50;
}

.row {
    display: inline-block;
}

.cell{
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid rgb(150, 177, 111);
    /* border-collapse: collapse; */
    /* padding: 0; */
    display: inline-block;
    /* margin: 0 1px; */
    border-radius: 30%;
}

.snake {
    background-color: rgb(54, 56, 30);
    /* border-radius: 30%; */
}

.head {

}

.food{
    background-color: rgb(54, 56, 30);
    /* border-radius: 40%; */
}

#scoreWrapper{
    position: fixed;
    font-size: 24px;
    color: black;
}

#instruction{
    position: absolute;
    text-align: center;
    width: 33%;
    left: 33%;
    top: 15%;
    font-size: 24px;
    background-color: black;
    color: white;
}

#gameOverMenuWrapper{
    position: absolute;
    text-align: center;
    width: 33%;
    left: 33%;
    top: 15%;
    font-size: 24px;
    background-color: black;
    color: white;
}