#message{
    text-align: center;
}

.cell{
    height: 10px;
    width: 10px;
    /* border: 1px solid black; */
    display: inline-block;
    /* margin: 0 1px; */
}

.snakeCell{
    background-color: black;
}

.foodCell{
    background-color: black;
}

#Wrapper > div{
    font-size: 0;
    margin: 0 auto;
}

form{
    margin-top: 5px;
}

#inputWrapper{
    width: 275px;
    margin: 0 auto;
}

