:root {
 --bg-color: rgb(163, 195, 61);
 --snake-color: rgb(35, 55, 10);
 --food-color: rgb(35, 55, 10);
 --cell-size: 15px;
 --pixel-size: 4px;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

#root {
    font-size: 0;
    padding: 0;
}

.gridWrapper {
    /* border: 1px solid black; */
    padding: 1px 0 0 1px;
    display: block;
    text-align: center;
    z-index: 50;
}

.row {
    display: inline-block;
}

.cell {
    margin-top: -1px;
    margin-left: -1px;
    /* border: 1px solid var(--bg-color); */
    border: 1px solid black;
    display: inline-block;
}

.snake.body::before {
    content: '';
    display: block;
    background-color: var(--snake-color);
    width: var(--pixel-size);
    height: var(--pixel-size);
    margin-top: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    margin-left: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    box-shadow: 0 calc(0px - var(--pixel-size)) 0 0 var(--snake-color),
    0 var(--pixel-size) 0 0 var(--snake-color),
    var(--pixel-size) 0 0 0 var(--snake-color),
    var(--pixel-size) var(--pixel-size) 0 0 var(--snake-color),
    var(--pixel-size) calc(var(--pixel-size) * 2) 0 0 var(--snake-color);
}

.snake.horizontal::before {
    content: '';
    display: block;
    background-color: var(--bg-color);
    width: var(--pixel-size);
    height: var(--pixel-size);
    box-shadow: 0 4.2px 0 0 var(--snake-color),
    0 8.4px 0 0 var(--snake-color),
    4.2px 8.4px 0 0 var(--snake-color),
    -4.2px 4.2px 0 0 var(--snake-color),
    -8.4px 4.2px 0 0 var(--snake-color),
    -4.2px 8.4px 0 0 var(--snake-color);
}

.snake.corner::before {
    content: '';
    display: block;
    background-color: var(--snake-color);
    width: var(--pixel-size);
    height: var(--pixel-size);
    margin-top: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    margin-left: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    box-shadow: 0 calc(0px - var(--pixel-size)) 0 0 var(--snake-color),
    var(--pixel-size) 0 0 0 var(--snake-color);
}

.snakeCornerLeftTop::before {
    content: '';
    display: block;
    background-color: var(--bg-color);
    width: 4px;
    height: 4px;
    box-shadow: -4.2px 4.2px 0 0 var(--snake-color),
    0 -4px 0 0 var(--snake-color),
    -4.2px 0 0 0 var(--snake-color),
    -8.4px 4.2px 0 0 var(--snake-color),
    -7px 8.4px 0 0 var(--snake-color)
}

.snake.head::before {
    content: '';
    display: block;
    background-color: var(--bg-color);
    width: var(--pixel-size);
    height: var(--pixel-size);
    margin-top: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    margin-left: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);

    box-shadow: var(--pixel-size) calc(0px - var(--pixel-size) * 2) 0 0 var(--snake-color),
    var(--pixel-size) calc(0px - var(--pixel-size)) 0 0 var(--snake-color),
    var(--pixel-size) 0 0 0 var(--snake-color),
    var(--pixel-size) var(--pixel-size) 0 0 var(--snake-color),
    var(--pixel-size) calc(var(--pixel-size) * 2) 0 0 var(--snake-color),
    0 calc(0px - var(--pixel-size) * 2) 0 0 var(--snake-color),
    0 calc(0px - var(--pixel-size)) 0 0 var(--snake-color),
    0 calc(var(--pixel-size)) 0 0 var(--snake-color),
    calc(0px - var(--pixel-size)) 0 0 0 var(--snake-color);
}

.snake.tail::before{
    content: '';
    display: block;
    background-color: var(--snake-color);
    width: var(--pixel-size);
    height: var(--pixel-size);
    margin-top: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    margin-left: calc(var(--cell-size) / 2 - var(--pixel-size) / 2);
    box-shadow: 0 calc(0px - var(--pixel-size)) 0 0 var(--snake-color),
    0 var(--pixel-size) 0 0 var(--snake-color),
    0 calc(var(--pixel-size) * 2) 0 0 var(--snake-color),
    var(--pixel-size) 0 0 0 var(--snake-color),
    var(--pixel-size) var(--pixel-size) 0 0 var(--snake-color),
    var(--pixel-size) calc(var(--pixel-size) * 2) 0 0 var(--snake-color),
    var(--pixel-size) calc(var(--pixel-size) * 3) 0 0 var(--snake-color),
    var(--pixel-size) calc(var(--pixel-size) * 4) 0 0 var(--snake-color);
}

.food{
    background-color: var(--food-color);
}

#scoreWrapper {
    position: fixed;
    font-size: 24px;
    color: black;
}

#instruction {
    position: absolute;
    text-align: center;
    width: 33%;
    left: 33%;
    top: 15%;
    font-size: 24px;
    background-color: black;
    color: white;
}

#gameOverMenuWrapper {
    position: absolute;
    text-align: center;
    width: 33%;
    left: 33%;
    top: 15%;
    font-size: 24px;
    background-color: black;
    color: white;
}